name: CI
on: [push, pull_request]
jobs:
  execute:
    runs-on: [self-hosted, Linux, aws]
    env:
      INPUT_TOKEN: ""
    steps:
      - name: Set work folder permissions
        run: pwd && sudo chown -R $USER:$USER ./
      - uses: actions/checkout@v2
      - name: Setup Node.js environment
        uses: actions/setup-node@v1.4.4
        with:
          node-version: 14.x
      - name: Cache node modules
        uses: actions/cache@v1
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm # npm cache files are stored in `~/.npm` on Linux/macOS
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Install dependencies
        run: npm ci
      - name: Run unit tests
        run: npm run test
      - name: Publish to npm
        uses: JS-DevTools/npm-publish@v1
        if: github.ref == 'refs/heads/main'
        with:
          token: ${{ secrets.NPM_AUTH_TOKEN }}
